* {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  :root {
    --primary-color: #000000;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    width: 100%;
    height: 40rem;
    background: linear-gradient(rgba(185, 226, 237, 0.5), rgba(160, 185, 222, 0.3)),
      url(https://images.unsplash.com/photo-1610552050890-fe99536c2615?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bW91bnRhaW4lMjBsYW5kc2NhcGV8ZW58MHx8MHx8fDA%3D&w=1000&q=80) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 70rem;
  }
  
  .header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.3rem 0.5rem var(--grey-color);
  }
  
  .heading {
    font-size: 5rem;
    color: rgb(45, 45, 59);
  }

  .container {
    background-color: #d2d0f1;
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;
  }

  .stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: right;
  }

  .back{
    position: relative;
    left: 4rem;
    top: 4rem;
    width: 114rem;
    height: 50rem;
  }

  .story-bg {
    background-color: #ddecf1;
    padding: 5rem;
    margin: 4rem;
    width: 60%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
    position: relative;
    left: 38rem;
    
  }

  .story-bg1 {
    background-color: #ddecf1;
    padding: 5rem;
    margin: 4rem;
    width: 60%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
    align-items: right;
  }
  
  .story-text {
    letter-spacing: 0.1rem;
  }
  
  .story-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 1rem;
  }
  
  .story-paragraph {
    font-size: 1.8rem;
    color: var(--light-grey-color);
  }
  .story-paragraph {
    font-size: 1.8rem;
    color: var(--light-grey-color);
  }
  
  .story-paragraph::first-letter {
    margin-left: 1rem;
  }
  
  .back{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 2.8rem;
    top: 2.8rem;
  }

  .footer {
    background-color: var(--grey-color);
    padding: 2.5rem 0 2rem 0;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
  }
  
  .footer-link {
    font-size: 2rem;
    color: var(--white-color);
    margin: 0 2rem;
    background-color: var(--grey-color);
    padding: 0.3rem 3rem;
    letter-spacing: 0.3rem;
    transition: all 0.2s;
  }
  
  .footer-link:hover {
    transform: rotate(-10deg);
    box-shadow: 0 2rem 3rem #000;
  }
  
  .footer-paragraph {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    letter-spacing: 0.2rem;
    margin-top: 5rem;
  }